.carousel-inner{
     width:640px; 
     height: 400px;
     }
 .carousel {
     position: relative;
     left: 25%;
     width: 640px;
     height: 360px;
 }    
 p {
     color: black;
 }
 .aboutcontainer {
     background-color: gray;
 }
 .contactcontainer {
     position: relative;
     left: 39%;
 }